<div class="container">
  <% @entries.each do |entry| %>
    <div class="panel panel-default">
      <div class="panel-body">
        <%= entry.title %> 
        <% if entry.published %>
          - <i> published <%= time_ago_in_words(entry.published) %> ago.</i>
        <% end %>
      </div>
    </div>
  <% end %>
</div>