<% @phrases.each do |phrase| %>
  <%= "\"#{phrase.content}\" has #{phrase.count} occurrences" %>
  <% Item.where('lower(name) = ?', phrase.content.downcase).each do |item| %>
      <span style="color:red;"><%= item.category.name.titleize %></span>
  <% end %>
  <br>
  <% phrase.entries.each do |pe| %>
    <%= link_to entry.title, entry_path(entry.id) %>
    <% entry.entry_contexts.each do |ec| %>
      <span style="color:red;"><%= ec.context_category.name.titleize %></span><br>
    <% end %>
  <% end %>
  <br>
  <br>
<% end %>