<% @phrases.each do |phrase| %>
  <%= "\"#{phrase.content}\" has #{phrase.count} occurrences" %>
  <% Item.where('lower(name) = ?', phrase.content.downcase).each do |item| %>
      <span style="color:red;"><%= item.category.name.titleize %></span>
  <% end %>
  <br>
  <% phrase.phrase_entries.each do |pe| %>
    <%= link_to pe.entry.title, entry_path(pe.entry_id) %>
    <% pe.entry.entry_contexts.each do |ec| %>
      <span style="color:red;"><%= ec.context_category.name.titleize %></span><br>
    <% end %>
  <% end %>
  <br>
  <br>
<% end %>