// Place all the styles related to the feeds controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  padding: 20px;
}

.feed-card {
  width: 400px;
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 20px;
}