// Place all the styles related to the feeds controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

body {
  padding: 20px;
  background: rgba(178,228,240,1);
  background: -moz-linear-gradient(left, rgba(178,228,240,1) 0%, rgba(143,202,219,1) 41%, rgba(87,194,224,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(178,228,240,1)), color-stop(41%, rgba(143,202,219,1)), color-stop(100%, rgba(87,194,224,1)));
  background: -webkit-linear-gradient(left, rgba(178,228,240,1) 0%, rgba(143,202,219,1) 41%, rgba(87,194,224,1) 100%);
  background: -o-linear-gradient(left, rgba(178,228,240,1) 0%, rgba(143,202,219,1) 41%, rgba(87,194,224,1) 100%);
  background: -ms-linear-gradient(left, rgba(178,228,240,1) 0%, rgba(143,202,219,1) 41%, rgba(87,194,224,1) 100%);
  background: linear-gradient(to right, rgba(178,228,240,1) 0%, rgba(143,202,219,1) 41%, rgba(87,194,224,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b2e4f0', endColorstr='#57c2e0', GradientType=1 );
}

.trending-articles {
  color: white;
  width: 70%;
  border-radius: 5px;
  border: none !important;
  a {
    font-size: 16px;
    color: white;
    &:hover, &:visited, &:focus {
      color: white;
    }
    &:focus {
      text-decoration: none;
    }
  }
  .card-header {
    background-color: #585858;
  }
  .card-block {
    background-color: #333a3a;
    div { margin-bottom: 3px; }
  }
}

.feed-card {
  width: 400px;
  margin-right: 20px;
  margin-bottom: 20px;
  background-color: #333a3a !important;
  border-radius: 5px !important;
  border: none !important;
  color: white;
  font-family: 'Open Sans', sans-serif;
  .feed-card-contents {
    padding: 10px;
  }
  h5 {
    font-size: 14px
  }
  a {
    color: white;
    &:hover, &:visited, &:focus {
      color: white;
    }
    &:focus {
      text-decoration: none;
    }
  }
  .accordion-card {
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid #787878; 
    font-size: 12px;
    .article-entry {
      margin-bottom: 3px;
    }
  }
  .phrase-header {
    text-align: center;
    font-size: 20px;
    margin-bottom: 5px;
    border-bottom: 1px solid #787878;
  }
  .top-tech-companies, .popular-tech, .tech-topics, .tech-products, .tech-companies, .apple-stuff, .hardware, .operating-systems, .programming-and-development, .legal-and-political-entities, .it-topics {
    border-radius: 4px 4px 0 0;
    height: 8px;
  }
}

.color-guide-section {
  font-size: 12px;
}

.color-guide {
  height: 10px;
  width: 10px;
  display: inline-block;
  margin-left: 15px;
}

.top-tech-companies { background-color: #66ff66; }
.popular-tech { background-color: #ff6666; }
.tech-topics { background-color: #ff66ff; }
.tech-products { background-color: #CCAC00; } 
.tech-companies { background-color: #ff8000; }
.apple-stuff { background-color: white; }
.hardware { background-color: #8000ff; }
.operating-systems { background-color: #00ffff; }
.programming-and-development { background-color: #D2B48C; }
.legal-and-political-entities { background-color: #007F00; }
.it-topics { background-color: #ffff00; }

